* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#none {
  display: none;
}
button {
  background-color: whitesmoke;
  border: none;
}
.ADMIN {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}
.ADMIN-panel {
  height: 100%;
  width: 100%;
}
.ADMIN-panel-header-space {
  position: relative;
  top: 0;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
  z-index: 0;
}
.ADMIN-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px double black;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(4px);
}
.ADMIN-panel-header-access {
  display: flex;
}
.ADMIN-panel-header-title {
  font-size: 70px;
  color: #333;
  display: flex;
  align-items: center;
}
.Login-button {
  width: 100px;
  height: 100px;
  border-left: 5px double black;
  box-shadow: 0.9px 0.9px 0.9px 0.3px black;
  background-color: whitesmoke;
}
.Login-button:active {
  box-shadow: inset 2px 2px 0.9px 0.9px black;
}
#QRCode {
  position: relative;
  height: 200px;
  z-index: 10;
}
.ADMIN-panel-content-QR {
  position: fixed;
  height: 100%;
  width: 100%;
  transition: 1s;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#QRCode-Close {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(128, 128, 128, 0.082);
}
#QRCode-Close:active {
  background-color: black;
}
.ADMIN-panel-header-serch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ADMIN-panel-header-serch-input {
  width: 300px;
  height: 50px;
}
.ADMIN-panel-content {
  display: flex;
  flex-direction: row;
}
.ADMIN-panel-content-OLDPeople {
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-left: 5px double black;
  border-bottom: 5px double black;
  border-top: 5px double black;
}
.ADMIN-panel-content-OLDPeople-Pacientes {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 20px;
  border: 0.1px solid black;
}
.casilla {
  padding-top: 20px;
}
.casilla-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ADMIN-panel-content-title {
  font-size: x-large;
  text-decoration: underline;
  display: flex;
}
.send_true {
  display: flex;
  flex-direction: row;
  color: green;
}
.send_true::after {
  content: "";
  background-image: url("./assets/check_circle.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
}
.send_false {
  display: flex;
  flex-direction: row;
  color: red;
}
.send_false::after {
  content: "";
  background-image: url("./assets/uncheck_circle.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
}
.ADMIN-panel-content-NEWPeople {
  width: 20%;
  display: flex;
  justify-content: center;
}
/* .ADMIN::after {
  content: "";
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  backdrop-filter: blur(3px);
  background: url(https://i.pinimg.com/736x/60/c1/4a/60c14a43fb4745795b3b358868517e79.jpg)
    center no-repeat;
  background-size: 30%;
} */
